<md-content class="menu-container-form cell" layout-padding>
    <header class="header" layout="row" layout-align="space-between start">
        <div layout="row" >
            <div ng-repeat="crumb in vm.path track by $index" layout="row" layout-align="center center">
                <div ng-if="!$last"
                     ng-click="vm.setActiveContext(crumb)" class="clickable"
                     layout="column" layout-align="center center">
                    <div class="md-body-2 md-title">{{crumb.model.name}}</div>
                    <div>{{crumb.model.type}}</div>
                </div>
                <div ng-if="$last"
                     ng-click="vm.setActiveContext(crumb)"
                     layout="column" layout-align="center center">
                    <div class="md-body-2 md-title">{{crumb.model.name}}</div>
                    <div>{{crumb.model.type}}</div>
                </div>
                <div ng-if="!$last"><md-icon md-font-icon="keyboard_arrow_right">keyboard_arrow_right</md-icon></div>
            </div>
        </div>
        <div>
            <md-button ng-if="vm.activeContext.parent" class="md-icon-button" ng-click="vm.setActiveContext(vm.activeContext.parent)">
                <md-icon md-font-icon="undo">undo</md-icon>
            </md-button>
            <md-button ng-if="vm.activeContext.parent" class="md-icon-button" ng-click="vm.dropItem(vm.activeContext)">
                <md-icon md-font-icon="remove">remove</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.editContainer($event)">
                <md-icon md-font-icon="add">add</md-icon>
            </md-button>
        </div>
    </header>
    <section class="section" ng-if="vm.activeContext.children.length">
        <md-list menu-dragger items="vm.activeContext.children">
            <md-list-item ng-repeat="item in vm.activeContext.children track by $index" class="secondary-button-padding" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <div layout="row" layout-align="space-around center">
                    <span style="min-width: 30px;"><md-icon ng-show="hover" md-font-icon="swap_vert" style="cursor:pointer">swap_vert</md-icon></span>
                    <h3 ng-click="vm.setActiveContext(item)" class="clickable">{{item.model.name}}</h3>
                </div>
                <md-button ng-click="vm.editContainer($event, item)" class="md-icon-button md-secondary">
                    <md-icon md-font-icon="edit">edit</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </section>
</md-content>
<div layout="row" flex>
    <md-content flex>
        <pre style="word-break: break-all">{{vm.activeContext.model | json}}</pre>
    </md-content>
</div>