/*----------------------------------------------------------------*/
/*  Typography
/*----------------------------------------------------------------*/
html {
  font-size: 62.5%;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  line-height: 1.4;
  letter-spacing: -0.1px; }

body {
  font-size: 1.3rem; }

html, body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; }

form {
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal; }

h1, .h1 {
  font-size: 2.4rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.6rem; }

h4, .h4 {
  font-size: 1.4rem; }

h5, .h5 {
  font-size: 1.3rem; }

h6, .h6 {
  font-size: 1.2rem; }

a {
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: underline; }

abbr {
  cursor: help;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.54); }

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin: 1em 0;
  padding-left: 16px; }
  blockquote footer {
    font-style: normal; }
    blockquote footer:before {
      content: '\2014 \00A0'; }
  blockquote.reverse {
    border-left: none;
    border-right: 3px solid rgba(0, 0, 0, 0.12);
    text-align: right;
    padding-left: 0;
    padding-right: 16px; }
    blockquote.reverse footer:before {
      content: ''; }
    blockquote.reverse footer:after {
      content: '\2014 \00A0'; }

code {
  font-family: "Monaco", "Menlo", "Consolas", "Ubuntu Mono", monospace; }
  code:not(.highlight) {
    background: rgba(0, 0, 0, 0.065);
    color: #106CC8;
    margin: 0 1px;
    padding: 2px 3px;
    border-radius: 2px; }

dl dt {
  font-weight: bold; }

dl dd {
  margin-bottom: 1em; }

mark {
  background: #F7F49A; }

pre {
  line-height: 1.6;
  margin: 8px 16px;
  white-space: pre-wrap; }

small {
  font-size: 80%; }

table thead tr th {
  text-align: left; }

.text-italic {
  font-style: italic; }

.text-semibold {
  font-weight: 600; }

.text-bold, strong {
  font-weight: 700; }

.text-strike {
  text-decoration: line-through; }

.text-super {
  vertical-align: super; }

.text-sub {
  vertical-align: sub; }

.text-capitalize {
  text-transform: capitalize; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.font-weight-100 {
  font-weight: 100; }

.font-weight-200 {
  font-weight: 200; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-500 {
  font-weight: 500; }

.font-weight-600 {
  font-weight: 600; }

.font-weight-700 {
  font-weight: 700; }

.font-weight-800 {
  font-weight: 800; }

.font-weight-900 {
  font-weight: 900; }

.font-size-2 {
  font-size: 2px; }

.font-size-4 {
  font-size: 4px; }

.font-size-6 {
  font-size: 6px; }

.font-size-8 {
  font-size: 8px; }

.font-size-10 {
  font-size: 10px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-20 {
  font-size: 20px; }

.font-size-22 {
  font-size: 22px; }

.font-size-24 {
  font-size: 24px; }

.font-size-26 {
  font-size: 26px; }

.font-size-28 {
  font-size: 28px; }

.font-size-30 {
  font-size: 30px; }

.font-size-32 {
  font-size: 32px; }

.font-size-34 {
  font-size: 34px; }

.font-size-36 {
  font-size: 36px; }

.font-size-38 {
  font-size: 38px; }

.font-size-40 {
  font-size: 40px; }

.font-size-42 {
  font-size: 42px; }

.font-size-44 {
  font-size: 44px; }

.font-size-46 {
  font-size: 46px; }

.font-size-48 {
  font-size: 48px; }

.font-size-50 {
  font-size: 50px; }

.font-size-52 {
  font-size: 52px; }

.font-size-54 {
  font-size: 54px; }

.font-size-56 {
  font-size: 56px; }

.font-size-58 {
  font-size: 58px; }

.font-size-60 {
  font-size: 60px; }

.font-size-62 {
  font-size: 62px; }

.font-size-64 {
  font-size: 64px; }

.font-size-66 {
  font-size: 66px; }

.font-size-68 {
  font-size: 68px; }

.font-size-70 {
  font-size: 70px; }

.font-size-72 {
  font-size: 72px; }

.font-size-74 {
  font-size: 74px; }

.font-size-76 {
  font-size: 76px; }

.font-size-78 {
  font-size: 78px; }

.font-size-80 {
  font-size: 80px; }

.font-size-82 {
  font-size: 82px; }

.font-size-84 {
  font-size: 84px; }

.font-size-86 {
  font-size: 86px; }

.font-size-88 {
  font-size: 88px; }

.font-size-90 {
  font-size: 90px; }

.font-size-92 {
  font-size: 92px; }

.font-size-94 {
  font-size: 94px; }

.font-size-96 {
  font-size: 96px; }

.font-size-98 {
  font-size: 98px; }

.font-size-100 {
  font-size: 100px; }

.font-size-102 {
  font-size: 102px; }

.font-size-104 {
  font-size: 104px; }

.font-size-106 {
  font-size: 106px; }

.font-size-108 {
  font-size: 108px; }

.font-size-110 {
  font-size: 110px; }

.font-size-112 {
  font-size: 112px; }

.font-size-114 {
  font-size: 114px; }

.font-size-116 {
  font-size: 116px; }

.font-size-118 {
  font-size: 118px; }

.font-size-120 {
  font-size: 120px; }

.line-height-2 {
  line-height: 2px; }

.line-height-4 {
  line-height: 4px; }

.line-height-6 {
  line-height: 6px; }

.line-height-8 {
  line-height: 8px; }

.line-height-10 {
  line-height: 10px; }

.line-height-12 {
  line-height: 12px; }

.line-height-14 {
  line-height: 14px; }

.line-height-16 {
  line-height: 16px; }

.line-height-18 {
  line-height: 18px; }

.line-height-20 {
  line-height: 20px; }

.line-height-22 {
  line-height: 22px; }

.line-height-24 {
  line-height: 24px; }

.line-height-26 {
  line-height: 26px; }

.line-height-28 {
  line-height: 28px; }

.line-height-30 {
  line-height: 30px; }

.line-height-32 {
  line-height: 32px; }

.line-height-34 {
  line-height: 34px; }

.line-height-36 {
  line-height: 36px; }

.line-height-38 {
  line-height: 38px; }

.line-height-40 {
  line-height: 40px; }

.line-height-42 {
  line-height: 42px; }

.line-height-44 {
  line-height: 44px; }

.line-height-46 {
  line-height: 46px; }

.line-height-48 {
  line-height: 48px; }

.line-height-50 {
  line-height: 50px; }

.line-height-52 {
  line-height: 52px; }

.line-height-54 {
  line-height: 54px; }

.line-height-56 {
  line-height: 56px; }

.line-height-58 {
  line-height: 58px; }

.line-height-60 {
  line-height: 60px; }

.line-height-62 {
  line-height: 62px; }

.line-height-64 {
  line-height: 64px; }

.line-height-66 {
  line-height: 66px; }

.line-height-68 {
  line-height: 68px; }

.line-height-70 {
  line-height: 70px; }

.line-height-72 {
  line-height: 72px; }

.line-height-74 {
  line-height: 74px; }

.line-height-76 {
  line-height: 76px; }

.line-height-78 {
  line-height: 78px; }

.line-height-80 {
  line-height: 80px; }

.line-height-82 {
  line-height: 82px; }

.line-height-84 {
  line-height: 84px; }

.line-height-86 {
  line-height: 86px; }

.line-height-88 {
  line-height: 88px; }

.line-height-90 {
  line-height: 90px; }

.line-height-92 {
  line-height: 92px; }

.line-height-94 {
  line-height: 94px; }

.line-height-96 {
  line-height: 96px; }

.line-height-98 {
  line-height: 98px; }

.line-height-100 {
  line-height: 100px; }

.line-height-102 {
  line-height: 102px; }

.line-height-104 {
  line-height: 104px; }

.line-height-106 {
  line-height: 106px; }

.line-height-108 {
  line-height: 108px; }

.line-height-110 {
  line-height: 110px; }

.line-height-112 {
  line-height: 112px; }

.line-height-114 {
  line-height: 114px; }

.line-height-116 {
  line-height: 116px; }

.line-height-118 {
  line-height: 118px; }

.line-height-120 {
  line-height: 120px; }

.text-boxed, .text-boxed-light {
  border-radius: 2px;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  background-color: rgba(0, 0, 0, 0.12);
  white-space: nowrap; }

.text-boxed-light {
  background-color: rgba(255, 255, 255, 0.7); }

.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-nowrap {
  white-space: nowrap; }
