<div ng-repeat="crumb in vm.path track by $index" layout="row" layout-align="start center">
    <div ng-if="!$last" class="clickable"
         layout="column" layout-align="center center">
        <div class="md-body-2 md-title">{{crumb.title}}</div>
        <div>{{crumb.typeLabel}}</div>
    </div>
    <div ng-if="$last"
         layout="column" layout-align="center center">
        <div class="md-body-2 md-title">{{crumb.title}}</div>
        <div>{{crumb.typeLabel}}</div>
    </div>
    <div ng-if="!$last"><md-icon md-font-icon="keyboard_arrow_right">keyboard_arrow_right</md-icon></div>
</div>