#sidenav-header {
  height: 64px;
  min-height: 64px;
//  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 16px 0 24px;

  .logo {
    .logo-image {
      display: block;
      background: #259b24;
      width: 32px;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
      border-radius: 2px;
    }

    .logo-text {
      color: #ffffff;
      margin-left: 32px;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}