#login {
  height: 100%;
  overflow: hidden;
  background-size: cover; }
  #login #login-intro {
    padding: 128px; }
    #login #login-intro .logo {
      width: 128px;
      height: 128px;
      line-height: 128px;
      font-size: 86px;
      font-weight: 500;
      margin-bottom: 32px;
      color: #ffffff;
      border-radius: 2px;
      text-align: center;
      background-color: #259b24; }
    #login #login-intro .title {
      font-size: 42px;
      font-weight: 300; }
    #login #login-intro .description {
      padding-top: 8px;
      font-size: 14px;
      max-width: 600px; }
  #login #login-form-wrapper {
    width: 416px;
    min-width: 416px;
    max-width: 416px;
    background: #ffffff; }
    #login #login-form-wrapper #login-form {
      padding: 128px 48px 48px 48px;
      height: 100%; }
      #login #login-form-wrapper #login-form .logo {
        width: 128px;
        height: 128px;
        line-height: 128px;
        font-size: 86px;
        font-weight: 500;
        margin: 32px auto;
        color: #ffffff;
        border-radius: 2px;
        background-color: #259b24; }
      #login #login-form-wrapper #login-form .title {
        font-size: 21px; }
      #login #login-form-wrapper #login-form .description {
        padding-top: 8px; }
      #login #login-form-wrapper #login-form form {
        width: 100%;
        text-align: left;
        padding-top: 32px; }
        #login #login-form-wrapper #login-form form .forgot-password {
          font-size: 13px;
          margin-top: 8px; }
          #login #login-form-wrapper #login-form form .forgot-password a {
            font-weight: 500;
            margin-bottom: 16px;
            cursor: pointer; }
        #login #login-form-wrapper #login-form form .submit {
          width: 100%;
          margin: 16px auto;
          display: block; }
      #login #login-form-wrapper #login-form .separator {
        font-size: 15px;
        font-weight: 600;
        margin: 24px auto 16px auto;
        position: relative;
        overflow: hidden;
        width: 100px;
        text-align: center;
        color: rgba(0, 0, 0, 0.54); }
        #login #login-form-wrapper #login-form .separator .text {
          display: inline-block;
          vertical-align: baseline;
          position: relative;
          padding: 0 8px;
          z-index: 9999; }
          #login #login-form-wrapper #login-form .separator .text:after, #login #login-form-wrapper #login-form .separator .text:before {
            content: '';
            display: block;
            width: 30px;
            position: absolute;
            top: 10px;
            border-top: 1px solid rgba(0, 0, 0, 0.12); }
          #login #login-form-wrapper #login-form .separator .text:before {
            right: 100%; }
          #login #login-form-wrapper #login-form .separator .text:after {
            left: 100%; }
      #login #login-form-wrapper #login-form .md-button.google, #login #login-form-wrapper #login-form .md-button.facebook {
        width: 70%;
        text-transform: none;
        color: #ffffff;
        font-size: 13px; }
      #login #login-form-wrapper #login-form .md-button ng-md-icon {
        width: 16px;
        height: 16px; }
        #login #login-form-wrapper #login-form .md-button ng-md-icon svg {
          width: 16px;
          height: 16px; }
      #login #login-form-wrapper #login-form .md-button.google {
        background-color: #d73d32; }
      #login #login-form-wrapper #login-form .md-button.facebook {
        background-color: #3f5c9a; }
      #login #login-form-wrapper #login-form .register {
        margin: 32px auto 24px auto;
        width: 250px;
        font-weight: 500; }
        #login #login-form-wrapper #login-form .register .text {
          margin-right: 8px; }
      #login #login-form-wrapper #login-form .terms {
        font-size: 13px;
        margin: 16px 0 32px 0; }
      #login #login-form-wrapper #login-form md-checkbox {
        margin: 0; }
      #login #login-form-wrapper #login-form a {
        margin-left: 4px; }
  @media screen and (max-width: 960px) {
    #login #login-form-wrapper {
      width: 100%;
      min-width: 100%;
      max-width: 100%; }
      #login #login-form-wrapper #login-form {
        text-align: center;
        padding: 24px; }
        #login #login-form-wrapper #login-form .md-button.google, #login #login-form-wrapper #login-form .md-button.facebook {
          width: 80%; } }
