.luigi {

  .context {
    header {
      border-bottom: 1px solid #ececec;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .image-place-holder {
      padding: 5px;
      border: 1px solid #a7a7a7;
      color: #a7a7a7;
      margin-right: 10px;
      background: #ececec;
    }

    .thumb {
      padding: 3px 3px 0 3px;
      border: 1px solid #a7a7a7;
      margin-right: 5px;
    }

    .context-table .hover {
      background: #eff9fd;
    }

    .filler {
      display: block;
      background: rgb(235, 238, 240);
      height: 15px;
      width: 100%;
    }
  }

  .preview {
//    height: 500px;
    max-width: 300px;
    margin: 10px auto;
//    overflow: hidden;

    header, header md-icon {
      background-color: #398E3D;
      color: white;

      span {
        padding: 0 5px;
      }
    }

    .root-item {
      background: #eff9fd;
    }

    footer {
      padding: 10px;
    }
  }

  .info{
  }

  .image-drop-zone {
    display: block;
    height: 100px;
    margin: 10px;
    border: 4px dashed rgba(235, 238, 240, .9);
    border-radius: 20px;
    padding: 10px;

    &, md-icon {
      color: rgba(190, 190, 195, .7);
    }

    md-icon {
      font-size: 42px;
      height: 42px;
    }
  }

  .card-title {
    padding: 5px;
    min-height: 50px;
  }

  .quantity-box {
    min-width: 50px;
    height: 30px;
    border: 1px solid #101010;
  }
}

.scroller {
  height: 420px;
  overflow-y: hidden;
  position: relative;
}