
#login {
  height: 100%;
  overflow: hidden;
  background-size: cover;
//  background: url("") no-repeat;
  
  #login-intro {
    padding: 128px;

    .logo {
      width: 128px;
      height: 128px;
      line-height: 128px;
      font-size: 86px;
      font-weight: 500;
      margin-bottom: 32px;
      color: #ffffff;
      border-radius: 2px;
      text-align: center;
      background-color: #259b24;
    }

    .title {
      font-size: 42px;
      font-weight: 300;
    }

    .description {
      padding-top: 8px;
      font-size: 14px;
      max-width: 600px;
    }
  }

  #login-form-wrapper {
    width: 416px;
    min-width: 416px;
    max-width: 416px;
    background: #ffffff;

    #login-form {
      padding: 128px 48px 48px 48px;
      height: 100%;

      .logo {
        width: 128px;
        height: 128px;
        line-height: 128px;
        font-size: 86px;
        font-weight: 500;
        margin: 32px auto;
        color: #ffffff;
        border-radius: 2px;
        background-color: #259b24;
      }

      .title {
        font-size: 21px;
      }

      .description {
        padding-top: 8px;
      }

      form {
        width: 100%;
        text-align: left;
        padding-top: 32px;

        .forgot-password {
          font-size: 13px;
          margin-top: 8px;

          a {
            font-weight: 500;
            margin-bottom: 16px;
            cursor: pointer;
          }
        }

        .submit {
          width: 100%;
          margin: 16px auto;
          display: block;
        }
      }

      .separator {
        font-size: 15px;
        font-weight: 600;
        margin: 24px auto 16px auto;
        position: relative;
        overflow: hidden;
        width: 100px;
        text-align: center;
        color: rgba(0, 0, 0, 0.54);

        .text {
          display: inline-block;
          vertical-align: baseline;
          position: relative;
          padding: 0 8px;
          z-index: 9999;

          &:after, &:before {
            content: '';
            display: block;
            width: 30px;
            position: absolute;
            top: 10px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
          }

          &:before {
            right: 100%;
          }

          &:after {
            left: 100%;
          }
        }
      }

      .md-button {
        &.google, &.facebook {
          width: 70%;
          text-transform: none;
          color: #ffffff;
          font-size: 13px;
        }

        ng-md-icon {
          width: 16px;
          height: 16px;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      .md-button.google {
        background-color: #d73d32;
      }

      .md-button.facebook {
        background-color: #3f5c9a;
      }

      .register {
        margin: 32px auto 24px auto;
        width: 250px;
        font-weight: 500;

        .text {
          margin-right: 8px
        }
      }

      .terms {
        font-size: 13px;
        margin: 16px 0 32px 0;
      }

      md-checkbox {
        margin: 0;
      }

      a {
        margin-left: 4px;
      }
    }
  }

  // RESPONSIVE
@media screen and (max-width: 960px) {

    #login-form-wrapper {
      width: 100%;
      min-width: 100%;
      max-width: 100%;

      #login-form {
        text-align: center;
        padding: 24px;

        .md-button {

          &.google,
          &.facebook {
            width: 80%;
          }
        }
      }
    }

  }
}