<md-content id="menu-info" class="md-whiteframe-1dp">
    <div class="header" layout="row" layout-align="space-between center">
        <div layout="column" flex>
            <div class="title">
                <span ng-if="vm.activeContext.type" class="type">{{vm.activeContext.type}}: </span>
                <span class="name">Start</span>
            </div>
            <div class="breadcrumb" ng-if="vm.activeContext.breadCrumb">
                <md-icon md-font-icon="play_arrow">play_arrow</md-icon>
            </div>
        </div>
        <div layout="column">
            <md-button class="md-icon-button">
                <md-tooltip md-delay="200">Add a new menu element</md-tooltip>
                <md-icon md-font-icon="add">add</md-icon>
            </md-button>
        </div>
    </div>
    <div class="main" menu-dragger>
        <md-list class="dragDropContainer">
            <md-list-item>
                <div class="md-list-item-text">
                </div>
            </md-list-item>
        </md-list>
    </div>
</md-content>