<form novalidate name="menuAddForm">
    <div ng-if="!vm.menuAddForm.type" >
        <md-radio-group ng-model="menuType">
            <md-radio-button ng-repeat="type in vm.menuTypes" ng-value="type.value" aria-label="type.name">
                {{type.name}}
            </md-radio-button>
        </md-radio-group>
        <div class="footer" layout="row" layout-align="end">
            <md-button ng-click="vm.menuAddForm.type = menuType">Next</md-button>
        </div>
    </div>
    <div ng-if="vm.menuAddForm.type">
        {{vm.menuAddForm.type}}
    </div>
</form>