<div class="header" layout="row" layout-align="space-between center">
    <div layout="column">
        <div>Type: {{vm.item.type}}</div>
        <h3>{{vm.item.name}}</h3>
    </div>
    <md-button ng-click="vm.cancel()" class="md-icon-button">
        <md-icon md-font-icon="close">close</md-icon>
    </md-button>
</div>
<div>
    <md-input-container>
        <label>Name</label>
        <input ng-model="vm.item.name">
    </md-input-container>
</div>
<div class="footer" layout="row" layout-align="end center">
    <md-button ng-click="vm.save()">Save</md-button>
</div>