#menu-selections {
  font-size: 16px;

  md-input-container {
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
  }
}

#menus {
//  height: 100% !important;
  background: transparent;
//
//  .md &, .lg & {
//  }
//
//  md-tabs {
//    margin-bottom: 64px !important;
//
//  }

   md-tabs md-tabs-wrapper {
    background: white;
   }
}



/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/