#menu-selections {
  font-size: 16px;

  md-input-container {
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
  }
}

#menus {
  background: transparent;

   md-tabs md-tabs-wrapper {
    background: white;
   }
}

#menu-info {
  .header {
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid #e1e1e1;

    .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      cursor: default;
      margin: 0;
    }

    .breadcrumb {
      color: #616161;
      font-size: 14px;
      line-height: 20px;
      cursor: default;
    }
  }
  .main {
    height: 300px;
  }
}

.containerVertical div {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}